<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<p:tabMenu activeIndex="0" >
		<p:menuitem value="#{mensajes.Home}" url="/home.xhtml" icon="ui-icon-home" />
		<p:menuitem value="#{mensajes.Login}" url="/login.xhtml"
			icon="ui-icon-person" />
		<p:menuitem value="#{mensajes.Galeria}" url="/galeria.xhtml"
			icon="ui-icon-image" />
		<p:menuitem value="#{mensajes.Estadisticas}" url="/estadisticas.xhtml"
			icon="ui-icon-bookmark" />
		<p:menuitem value="#{mensajes.Gauge}" url="/gauge.xhtml"
			icon="ui-icon-bookmark" />
		<p:menuitem value="#{mensajes.CambiarEntorno}" url="/cambiarEntorno.xhtml"
			icon="ui-icon-contact" />
	</p:tabMenu>

</ui:composition>