<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<script src="js/bootstrap.min.js"></script>
	<h:outputScript library="primefaces" name="jquery/jquery.js" />
	<!-- Old jquery library -->
	<!-- 
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
	-->

	<ui:insert name="head" />

<style type="text/css">
.ui-datepicker .ui-datepicker-title {
	color: red;
	font-family: Verdana;
}
</style>
</h:head>

<h:body>
	<div class="container">
		<h1>#{tituloPagina}</h1>

		<ui:include src="menu.xhtml" />

		<br />

		<ui:insert name="body" />

		<ui:include src="footer.xhtml" />

	</div>
</h:body>

</html>