<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/layout/template.xhtml">

	<ui:param name="tituloPagina" value="#{mensajes.CambiarEntorno}" />

	<ui:define name="body">
		<h:form>
			<p:themeSwitcher style="width:165px" id="defaultSwitcher">
				<f:selectItem itemLabel="#{mensajes.SeleccioneTema}" itemValue="" />
				<f:selectItems value="#{cambioEntornoBean.temas}" />
			</p:themeSwitcher>
			
			<br />
			<br />
			<br />

			<p:toolbar>
				<p:toolbarGroup align="left">
					<p:commandButton type="button" value="New" icon="ui-icon-document" />

					<p:commandButton type="button" value="Open"
						icon="ui-icon-folder-open" />

					<p:separator />

					<p:commandButton type="button" title="Save" icon="ui-icon-disk" />
					<p:commandButton type="button" title="Delete" icon="ui-icon-trash" />
					<p:commandButton type="button" title="Print" icon="ui-icon-print" />
				</p:toolbarGroup>

				<p:toolbarGroup align="right">
					<p:menuButton value="Navigate">
						<p:menuitem value="Home"  />
						<p:menuitem value="ShowCase" />
						<p:menuitem value="TouchFaces" />
					</p:menuButton>
				</p:toolbarGroup>

			</p:toolbar>

			<br />

			<p:tabView>
				<p:tab title="Tab1">Tab1 Content</p:tab>
				<p:tab title="Tab2">Tab2 Content</p:tab>
				<p:tab title="Tab3">Tab3 Content</p:tab>
			</p:tabView>
		</h:form>

	</ui:define>
</ui:composition>