<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/layout/template.xhtml">

	<ui:param name="tituloPagina" value="#{mensajes.Gauge}" />

	<ui:define name="body">
		<h:form>
			<h:outputLabel for="valorActual" value="Valor actual" />
			<p:inputText id="valorActual" value="#{gaugeBean.valorActual}">
				<f:validateLongRange minimum="0" maximum="100" />
			</p:inputText>

			<p:commandButton value="#{mensajes.VerGauge}"
				action="#{gaugeBean.mostrarGauge}" update="panelGauge" />

			<p:outputPanel id="panelGauge">
				<p:outputPanel rendered="#{gaugeBean.gaugeModel!=null}">
					<p:meterGaugeChart value="#{gaugeBean.gaugeModel}"
						showTickLabels="true" labelHeightAdjust="110"
						intervalOuterRadius="110" seriesColors="66cc66, E7E658, cc6666"
						style="width:400px;height:250px"
						title="#{mensajes.TemperaturaCaldera}"
						label="#{mensajes.Porcentaje}" />
				</p:outputPanel>
			</p:outputPanel>
		</h:form>

	</ui:define>
</ui:composition>