<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/template.xhtml">
	<ui:define name="title">#{messages.ConversorMoneda}</ui:define>

	<ui:define name="content">
		<h:form>
			<h:messages />
			<h:panelGrid columns="2">
				<h:outputText value="Cantidad en euros:" style="margin-right:10px;" />
				<h:panelGroup>
					<h:inputText id="cantidad" value="#{conversorMonedaBean.cantidad}"
						required="true">
						<f:convertNumber minFractionDigits="2" />
					</h:inputText>
					<h:message for="cantidad" showDetail="true" />
				</h:panelGroup>

				<h:outputText value="#{messages.TipoMoneda}:"
					style="margin-right:10px;" />
				<h:panelGroup id="tipoMoneda">
					<h:selectOneMenu value="#{conversorMonedaBean.tipoMoneda}"
						required="true">
						<f:selectItem itemLabel="Seleccione.." itemValue="" />
						<f:selectItems value="#{tiposMonedaBean.tiposMoneda}"
							var="_tipoMoneda"
							itemLabel="#{_tipoMoneda.nombre} - #{_tipoMoneda.abreviatura}"
							itemValue="#{_tipoMoneda.nombre}" />
					</h:selectOneMenu>
					<h:message for="tipoMoneda"></h:message>
				</h:panelGroup>

				<h:outputText value="Resultado: " style="margin-right:10px;" />
				<h:outputText value="#{conversorMonedaBean.resultado}">
					<f:convertNumber minFractionDigits="2" maxFractionDigits="2" />
				</h:outputText>
			</h:panelGrid>
			<br />
			<h:panelGrid columns="2">
				<h:commandButton value="#{messages.ConvertirMoneda}"
					actionListener="#{conversorMonedaBean.convertirMoneda}"
					styleClass="btn btn-success" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>