<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/template.xhtml">
	<ui:define name="title">#{messages.ListadoPagos}</ui:define>

	<ui:define name="content">
		<h:form>
			<h:panelGrid columns="1">
				<h:outputText
					value="Nº pagos guardados: #{listadoPagosBean.pagos.size()}"
					style="margin-right:10px;" />
			</h:panelGrid>

			<br />
			<h:dataTable value="#{listadoPagosBean.pagos}" var="_pago"
				styleClass="table table-bordered">
				<f:facet name="header">
					<h:outputText value="#{messages.ListadoPagos}" />
				</f:facet>
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{messages.TipoPago}" />
					</f:facet>
					<h:outputText value="#{_pago.tipo}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{messages.FechaPago}" />
					</f:facet>
					<h:outputText value="#{_pago.fecha}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{messages.DescripcionPago}" />
					</f:facet>
					<h:outputText value="#{_pago.descripcion}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{messages.CantidadPago}" />
					</f:facet>
					<h:outputText value="#{_pago.cantidad}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{messages.TipoMoneda}" />
					</f:facet>
					<h:outputText value="#{_pago.tipoMoneda}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{messages.Imprevisto}" />
					</f:facet>
					<h:outputText value="#{_pago.imprevisto? 'Sí': 'No'}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Categorias" />
					</f:facet>
					<ul>
						<ui:repeat value="#{_pago.categorias}" var="_categoria">
							<li><h:outputText value="#{_categoria}" /></li>
						</ui:repeat>
					</ul>
				</h:column>
			</h:dataTable>

		</h:form>
	</ui:define>

</ui:composition>

</html>