<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:form>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<h:commandLink value="JSF 2.2" styleClass="brand" action="home" />
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><h:commandLink value="Inicio"
								action="home?faces-redirect=true" /></li>
						<li><h:commandLink value="#{messages.NuevoPago}"
								action="nuevoPago?faces-redirect=true" /></li>
						<li><h:commandLink value="#{messages.ListadoPagos}"
								action="listadoPagos?faces-redirect=true" /></li>
						<li><h:commandLink value="#{messages.ConversorMoneda}"
								action="conversorMoneda?faces-redirect=true" /></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</h:form>

</html>