<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<title><ui:insert name="title">Titulo Página</ui:insert></title>
</h:head>

<h:body style="padding-top: 60px;">
	<ui:include src="menu.xhtml" />

	<div class="container">
		<h3>
			<ui:insert name="title">Titulo Página</ui:insert>
		</h3>
		<ui:insert name="content">

		</ui:insert>
	</div>
</h:body>


</html>