<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition>

	<h:outputText value="#{label}:" style="margin-right:10px;" />
	<h:panelGroup>
		<ui:insert/>
		<h:message for="#{id}" showDetail="true" />
	</h:panelGroup>
</ui:composition>

</html>