<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<title>Error</title>
</h:head>
<h:body>
	<div class="container">
		<h3>Error</h3>
		<h:outputText value="#{ejemploBean.nombre} #{messages.MensajeErrorLogin}"/>	
	</div>
</h:body>
</html>