<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<title>#{messages.TituloLogin}</title>
</h:head>
<h:body>
	<div class="container">
		<h3>#{messages.TituloLogin}</h3>
		<h:form>
			<h:panelGrid columns="2">
				<h:outputText value="#{messages.Usuario}" style="margin-right:10px;" />
				<h:inputText value="#{ejemploBean.nombre}"></h:inputText>

				<h:outputText value="#{messages.Password}" style="margin-right:10px;" />
				<h:inputSecret value="#{ejemploBean.password}" />
			</h:panelGrid>
			<h:panelGrid columns="1">
				<h:commandButton value="#{messages.Acceder}" action="#{ejemploBean.login}"
					styleClass="btn btn-primary" />
			</h:panelGrid>

		</h:form>
	</div>
</h:body>
</html>