<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/template.xhtml">
	<ui:define name="title">#{messages.NuevoPago}</ui:define>

	<ui:define name="content">
		<h:form>
			<h:messages />
			<h:panelGrid columns="2">
				<h:outputText value="#{messages.TipoPago}:"
					style="margin-right:10px;" />
				<h:panelGroup id="tipo">
					<h:selectOneRadio value="#{pagoBean.pago.tipo}" required="true">
						<f:selectItem itemValue="gasto" itemLabel="Gasto" />
						<f:selectItem itemValue="ingreso" itemLabel="Ingreso" />
					</h:selectOneRadio>
					<h:message for="tipo" showDetail="true" />
				</h:panelGroup>

				<h:outputText value="#{messages.FechaPago}:"
					style="margin-right:10px;" />
				<h:panelGroup>
					<h:inputText id="fecha" value="#{pagoBean.pago.fecha}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:inputText>
					<h:message for="fecha" showDetail="true" />
				</h:panelGroup>

				<h:outputText value="#{messages.DescripcionPago}:"
					style="margin-right:10px;" />
				<h:panelGroup>
					<h:inputText id="descripcion" value="#{pagoBean.pago.descripcion}"
						size="20">
						<f:validateLength minimum="0" maximum="20" />
					</h:inputText>
					<h:message for="descripcion" showDetail="true" />
				</h:panelGroup>

				
				<ui:decorate template="/campo.xhtml">
					<ui:param name="label" value="#{messages.CantidadPago}" />
					<ui:param name="id" value="cantidad" />
					<h:inputText id="cantidad" value="#{pagoBean.pago.cantidad}"
						required="true">
						<f:convertNumber minFractionDigits="2" />
					</h:inputText>
				</ui:decorate>

				<h:outputText value="#{messages.TipoMoneda}:"
					style="margin-right:10px;" />
				<h:selectOneMenu value="#{pagoBean.pago.tipoMoneda}">
					<f:selectItem itemLabel="Seleccione.." itemValue="" />
					<f:selectItems value="#{tiposMonedaBean.tiposMoneda}"
						var="_tipoMoneda"
						itemLabel="#{_tipoMoneda.nombre} - #{_tipoMoneda.abreviatura}"
						itemValue="#{_tipoMoneda.nombre}" />
				</h:selectOneMenu>

				<h:outputText value="#{messages.CategoriasPago}:"
					style="margin-right:10px;" />
				<h:selectManyListbox value="#{pagoBean.pago.categorias}">
					<f:selectItem itemValue="vivienda" itemLabel="Vivienda" />
					<f:selectItem itemValue="alimentacion" itemLabel="Alimentacion" />
					<f:selectItem itemValue="coche" itemLabel="Coche" />
					<f:selectItem itemValue="viajes" itemLabel="Viajes" />
					<f:selectItem itemValue="trabajo" itemLabel="Trabajo" />
					<f:selectItem itemValue="personal" itemLabel="Personal" />
				</h:selectManyListbox>

				<h:outputText value="#{messages.Imprevisto}:"
					style="margin-right:10px;" />
				<h:selectBooleanCheckbox value="#{pagoBean.pago.imprevisto}" />
			</h:panelGrid>
			<br />
			<h:panelGrid columns="1">
				<h:commandButton value="#{messages.Guardar}"
					action="#{pagoBean.anhadirPago()}"
					styleClass="btn btn-success" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>