<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:body>
	<h1>Pagina fuera de flowA</h1>
	<h:form prependId="false">
		<p>flowScope value, es vacio: #{flowScope.value}</p>
		<h:commandButton id="index" value="Home Page" action="flow" />
	</h:form>
</h:body>
</html>