<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:body>
	<h:form prependId="false">
		<h3>Segunda pagina en el flujo</h3>

		<h:panelGrid columns="2">
			Datos Bancarios:
			<h:inputText id="input" value="#{flowScope.datosBancarios}" />
		</h:panelGrid>

		<h:panelGrid columns="2">
			<h:commandButton id="back" value="back" action="flowA" />
			<h:commandButton id="next_a3" value="next" action="flowA3" />
		</h:panelGrid>
	</h:form>
</h:body>
</html>