<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:body>
	<h3>Ultima pagina en el flujo.</h3>
	<p>Nombre FlowBean: #{flowBean.name}</p>
	<p>Datos Personales: #{flowScope.datosPersonales}</p>
	<p>Datos Bancarios: #{flowScope.datosBancarios}</p>

	<h:form prependId="false">
		<h:panelGrid columns="2">
			<h:commandButton id="back_a2" value="back" action="flowA2" />
			<h:commandButton id="return" value="return" action="taskReturn1" />
		</h:panelGrid>
	</h:form>
</h:body>
</html>