<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:body>
	<h:form prependId="false">
		<h3>Primera pagina del flujo</h3>
		<h:panelGrid columns="2">
			Datos Personales:
			<h:inputText id="input" value="#{flowScope.datosPersonales}" />
		</h:panelGrid>
		<h:panelGrid columns="1">
			<h:commandButton id="next_a2" value="next"
				action="flowA2" />
		</h:panelGrid>
	</h:form>

</h:body>
</html>