<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/layout/template.xhtml">

	<ui:param name="tituloPagina" value="#{mensajes.Estadisticas}" />

	<ui:define name="body">
		<h:form>
			<p:panelGrid columns="2">
				<p:selectOneMenu value="#{estadisticasBean.selectedTypeStatistical}">
					<f:selectItem itemLabel="#{mensajes.SeleccioneTipoDeEstadistica}"
						itemValue="" />
					<f:selectItems value="#{estadisticasBean.typeStatisticals}"
						var="_typeStatistical" itemLabel="#{_typeStatistical}" />
				</p:selectOneMenu>
			</p:panelGrid>
			<p:commandButton value="#{mensajes.VerEstadistica}"
				action="#{estadisticasBean.verEstadistica}"
				update="panelEstadisticas" />

			<p:outputPanel id="panelEstadisticas">
				<p:outputPanel
					rendered="#{estadisticasBean.categoryModel!=null and estadisticasBean.isArea()}">

					<p:lineChart id="areaFilled"
						value="#{estadisticasBean.categoryModel}" legendPosition="ne"
						fill="true" title="#{mensajes.ParoEnEspanaModo} Linear-Filled"
						style="height:300px;margin-top:20px" xaxisLabel="#{mensajes.Ano}"
						animate="true" yaxisLabel="#{mensajes.ParoRegistrado}" />

					<p:lineChart id="areaStacked"
						value="#{estadisticasBean.categoryModel}" legendPosition="ne"
						stacked="true" fill="true"
						title="#{mensajes.ParoEnEspanaModo} Linear-StackedandFilled"
						style="height:300px;margin-top:20px" xaxisLabel="#{mensajes.Ano}"
						yaxisLabel="#{mensajes.ParoRegistrado}" animate="true" />

				</p:outputPanel>
				<p:outputPanel
					rendered="#{estadisticasBean.categoryModel!=null and estadisticasBean.isBar()}">

					<p:commandButton type="button" value="ResetBarBasic"
						icon="ui-icon-cancel" onclick="PF('barBasic').resetZoom()" />
					<p:commandButton type="button" value="ResetBarHorizontal"
						icon="ui-icon-cancel" onclick="PF('barHorizontal').resetZoom()" />

					<p:barChart id="barBasic" value="#{estadisticasBean.categoryModel}"
						legendPosition="ne" title="#{mensajes.ParoEnEspanaModo} Bar-Basic"
						zoom="true" min="0" max="40" style="height:300px"
						widgetVar="barBasic" />

					<p:barChart id="barHorizontal"
						value="#{estadisticasBean.categoryModel}" legendPosition="se"
						style="height:300px" zoom="true"
						title="#{mensajes.ParoEnEspanaModo} Bar-Horizontal"
						orientation="horizontal" min="0" max="40"
						widgetVar="barHorizontal" />

				</p:outputPanel>
				<p:outputPanel
					rendered="#{estadisticasBean.categoryModel!=null and estadisticasBean.isLine()}">

					<p:lineChart id="lineLinear"
						value="#{estadisticasBean.categoryModel}" legendPosition="e"
						title="#{mensajes.ParoEnEspanaModo} Linear-Line" minY="0"
						maxY="40" style="height:300px" />

				</p:outputPanel>
			</p:outputPanel>
			<br />
			<br />
			<br />
		</h:form>

	</ui:define>
</ui:composition>