<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/layout/template.xhtml">

	<ui:param name="tituloPagina" value="#{mensajes.Galeria}" />

	<ui:define name="body">
		<h:form>
			<p:galleria value="#{galleriaBean.images}" var="_image" effect="slide" effectSpeed="1000" showCaption="true">
				<p:graphicImage value="/img/flowers/#{_image}" alt="Image Description for #{_image}" title="#{_image}" />
			</p:galleria>
		</h:form>

	</ui:define>
</ui:composition>