<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/layout/template.xhtml">

	<ui:param name="tituloPagina" value="#{mensajes.TituloHome}" />

	<ui:define name="body">
		<h:form>
			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />

			<p:inputText value="#{exampleBean.name}"
				placeholder="#{mensajes.InsertName}" />

			<h:panelGrid columns="2">
				<h4>Popup Button</h4>
				<p:calendar value="#{exampleBean.currentDate}" showOn="button" />

				<h4>Popup</h4>
				<p:calendar value="#{exampleBean.currentDate}" />

				<h4>Buttons closed and today</h4>
				<p:calendar value="#{exampleBean.currentDate}"
					showButtonPanel="true" />

				<h4>Patter</h4>
				<p:calendar value="#{exampleBean.currentDate}"
					pattern="yyyy/MM/dd HH:mm" locale="es" />

				<h4>Navigator</h4>
				<p:calendar value="#{exampleBean.currentDate}" navigator="true" />

				<h4>Multiple Months</h4>
				<p:calendar value="#{exampleBean.currentDate}" pages="3" />

				<h4>Effect</h4>
				<p:calendar value="#{exampleBean.currentDate}" effect="explode" />



				<h:commandButton value="#{mensajes.VerDatos}"
					action="#{exampleBean.mostrarDatosDeEntrada}"
					styleClass="btn btn-primary" />
			</h:panelGrid>


		</h:form>

	</ui:define>
</ui:composition>