<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/layout/template.xhtml">

	<ui:param name="tituloPagina" value="#{mensajes.Login}" />

	<ui:define name="body">
		<h:form>
			<p:messages id="messagesLogin" showDetail="true" autoUpdate="true"
				closable="true" />
		

			<p:commandButton value="#{mensajes.Login}"
				onclick="PF('dialogoLogin').show();" type="button" icon="ui-icon-extlink" />
				
			<p:commandButton value="#{mensajes.CambiarPassword}"
				onclick="PF('dialogoCambiarPassword').show();" type="button" icon="ui-icon-extlink" />

			<p:dialog header="#{mensajes.Login}" widgetVar="dialogoLogin"
				focus="login">
				<h:panelGrid columns="2" cellpadding="5">
					<h:outputLabel for="login" value="#{mensajes.Login}" />
					<p:inputText id="login" value="#{loginBean.login}" label="#{mensajes.Login}" />

					<h:outputLabel for="password" value="#{mensajes.Password}" />
					<p:password id="password" value="#{loginBean.password}" /> 
					
					<p:commandButton value="#{mensajes.Enter}" action="#{loginBean.intertarLogearse}"/>
				</h:panelGrid>
			</p:dialog>
			
			<p:dialog header="#{mensajes.CambiarPassword}" widgetVar="dialogoCambiarPassword"
				focus="password1">
				<h:panelGrid id="cambioPassword" columns="2" cellpadding="5">
					<h:outputLabel for="password1" value="#{mensajes.Password1}" />
					<p:password id="password1" value="#{loginBean.passwordCambiar}" match="password2" label="#{mensajes.Password1}"/>
					
					<h:outputLabel for="password2" value="#{mensajes.Password2}" />
					<p:password id="password2" value="#{loginBean.passwordCambiar}" label="#{mensajes.Password2}"/>
					
					<p:commandButton update="cambioPassword" value="#{mensajes.CambiarPassword}" action="#{loginBean.cambiarPassword}"/> 
				</h:panelGrid>
			</p:dialog>
		</h:form>

	</ui:define>
</ui:composition>